html, body {
  /* outline: gray auto; */
  margin: 0 5vw;
  padding: 0;
  width: auto;
  height: 100%;
  min-height: 100%;
  overflow-y: auto;
  background-color: black;
  color: aliceblue;
  display: flex;
  justify-content: space-around;
}

* {
  background-color: rgb(255, 194, 26);
}

img {
}

.container-head {
  max-width: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.container-body {
  width: 100vw;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 1.4em;
  margin: 0;
}

h2 {
  font-size: 1em;
}

.instructions {
  margin-bottom: 25rem;
}

.instructions,
#footerId,
h1 {
  padding: 0 .5em;

}

.players,
.match,
.controls {
  flex-grow: 1;
  flex-shrink: 0;
  display: flex;

}


.players {
  justify-content: space-evenly;
  align-items: flex-end;
}

.match {
  flex-grow: 0;
  flex-direction: column;
  align-items: center;
}

.controls {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 2em;
}

div.players .icon {
  border: 1px solid rgb(243, 243, 243);
  width: 10em;
  height: 10em;
  display: flex;
  justify-content: center;
  align-items: center;
}

img { 

}

div.controls .choice-play{
  margin-bottom: 1em;
}

.play {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1.5px solid white ;
  background-color: rgb(255, 207, 50, 0.50);
  box-shadow: white;
  box-sizing: border-box;
  margin: 0 2em;
  box-shadow: 0 2px 18px #8f8f8f65;
}



.start-play button {
  
}